#remote.col-xs-12
  .container
    %ul.remote_actions
      %a{href: "/action/big_backward"}
        %li
          %img{src: '/assets/previous-media.png'}
      %a{href: "/action/backward"}
        %li
          %img{src: '/assets/previous.png'}
      %a{href: "/action/pause"}
        %li
          %img{src: '/assets/pause.png'}
      %a{href: "/action/quit"}
        %li
          %img{src: '/assets/stop.png'}
      %a{href: "/action/forward"}
        %li
          %img{src: '/assets/next.png'}
      %a{href: "/action/big_forward"}
        %li
          %img{src: '/assets/next-media.png'}
      %a{href: "/action/subtitles"}
        %li
          %img{src: '/assets/subtitles.png'}
