!!!
%html
  %head
    %title Raspflix
    %link{href: '/assets/bootstrap.min.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/assets/dashboard.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/assets/override.css', rel: 'stylesheet', type: 'text/css'}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}

    %script{src: '/assets/jquery.min.js'}
    %script{src: '/assets/bootstrap.min.js'}
    %script{src: '/assets/script.js'}
    %script{src: '/assets/jquery.matchheight-min.js'}
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %button.navbar-toggle.remote-btn{type: 'button'}
            %a{href: '#'} Remote
          %a.navbar-brand{href: '/'} Raspflix
        .navbar-collapse.collapse
          %form.navbar-form.navbar-right{action: '/search'}
            %input.form-control{:placeholder => "Search...", :type => "text", name: 'query'}/
          %form.navbar-form.navbar-right{action: '#', id: "select_genre"}
            %select.form-control{type: "select", name: 'genres'}
              %option{value: '/', selected: true} Select a genre
              %option{value: '/genres/action'} Action
              %option{value: '/genres/adventure'} Adventure
              %option{value: '/genres/animation'} Animation
              %option{value: '/genres/comedy'} Comedy
              %option{value: '/genres/crime'} Crime
              %option{value: '/genres/documentary'} Documentary
              %option{value: '/genres/drama'} Drama
              %option{value: '/genres/family'} Family
              %option{value: '/genres/fantasy'} Fantasy
              %option{value: '/genres/foreign'} Foreign
              %option{value: '/genres/history'} History
              %option{value: '/genres/horror'} Horror
              %option{value: '/genres/music'} Music
              %option{value: '/genres/mystery'} Mystery
              %option{value: '/genres/romance'} Romance
              %option{value: '/genres/thriller'} Thriller
              %option{value: '/genres/war'} War
              %option{value: '/genres/western'} Western

          %ul.nav.navbar-nav.navbar-left
            %li.active
              %a{href: '/'} Movies
            %li
              %a{href: '/series'} Series
            %li.remote-btn
              %a{href: '#'} Remote
    .container-fluid
      .row
        = yield
    = haml :"partials/remote"
