!!!
%html
  %head
    %title Raspflix
    %link{href: '/assets/bootstrap.min.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/assets/dashboard.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/assets/override.css', rel: 'stylesheet', type: 'text/css'}

    %script{src: '/assets/jquery.min.js'}
    %script{src: '/assets/bootstrap.min.js'}
    %script{src: '/assets/script.js'}
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '/'} Raspflix
        .navbar-collapse.collapse
          %form.navbar-form.navbar-right{action: '/search'}
            %input.form-control{:placeholder => "Search...", :type => "text", name: 'query'}/
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li
              %a{href: '/movies/top'} Movie top 20
            %li
              %a{href: '/movies/new'} New movies
          %ul.nav.nav-sidebar
            %li
              %a{href: '/'} My library
          %ul.nav.nav-sidebar
            %li
              %a{href: '/daemon'} Daemon settings
          %ul.nav.nav-sidebar
            %li
              %a{href: '#'}= "#{(Application::DAEMON.get_free_space(Application::DAEMON.get_config['download_location']).to_f / 1073741824).round(1)} GB available"
        = yield
