.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  .col-xs-5
    %form{"accept-charset" => "UTF-8", :action => "/daemon", :method => "post"}
      .form-field
        %label{:for => "download_location"} Download location
        %input#download_location.form-control{:name => "download_location", :type => "text", :value => @daemon.get_config['download_location']}/
      .form-field
        %label{:for => "stop_seed_ratio"} Stop seed ratio
        %input#stop_seed_ratio.form-control{:name => "stop_seed_ratio", :type => "text", :value => @daemon.get_config['stop_seed_ratio']}/
      .form-field
        %input.form-control.btn.btn-primary{:name => "commit", :type => "submit", :value => "send"}/
