- @movies.each do |movie|
  - if movie.poster_path.present?
    .col-xs-6.col-md-3.item
      %a{href: "/movie/#{movie.id}"}
        %img{src: "http://image.tmdb.org/t/p/w396/#{movie.poster_path}", class: 'fit pull-over'}
        %img{src: "http://placehold.it/396x650", class: 'fit'}
  - else
    .col-xs-6.col-md-3.item
      %a{href: "/movie/#{movie.id}"}
        %img{src: "http://placehold.it/396x594?text=#{movie.title}", class: 'fit'}
