.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  %h2.sub-header= title
  - @movies.in_groups_of(4, false) do |group|
    .row
      - group.each do |movie|
        - if movie.poster_path.present?
          .col-xs-3.item
            %a{href: "/movie/#{movie.id}"}
              %img{src: "http://image.tmdb.org/t/p/w396/#{movie.poster_path}", class: 'fit'}
