.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  .row.primary_actions
    .col-xs-6.action
      %a{href: '/action/play', class: 'btn btn-success async form-control'} Play
    .col-xs-6.action
      %a{href: '/action/quit', class: 'btn btn-danger async form-control'} Quit
    .col-xs-6.action
      %a{href: '/action/pause', class: 'btn btn-warning async form-control'} Pause

  .row.secondary_actions
    .col-xs-6.action
      %a{href: '/action/forward', class: 'btn btn-primary async form-control'} Forward
    .col-xs-6.action
      %a{href: '/action/backward', class: 'btn btn-primary async form-control'} Backward
    .col-xs-6.action
      %a{href: '/action/big_forward', class: 'btn btn-primary async form-control'} Skip Forward
    .col-xs-6.action
      %a{href: '/action/big_backward', class: 'btn btn-primary async form-control'} Skip backward
